@model IEnumerable<SC.Models.ProfilMahasiswa>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutMhs";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prodi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TanggalLahir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Npm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alamat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prodi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TanggalLahir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Npm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alamat)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
