@model IEnumerable<SC.Models.ResponKeluhan>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<h1>Respon</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create</a>
</p>
<table id="TableRespon1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tanggal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Keluhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KeluhanMhs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Respon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tanggal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Keluhan.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeluhanMhs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Respon)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |

                <a asp-action="Remove"  asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
