@model IEnumerable<SC.Models.Keluhan>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<h1>Keluhan</h1>

<p>
    @*<a asp-action="Create" class="btn btn-primary">Create</a>*@
</p>
<table id="TableKeluhan1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.ProfilMahasiswa.Prodi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tanggal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KeluhanMhs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.ProfilMahasiswa.Prodi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tanggal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeluhanMhs)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "fa fa-edit" }) |

            @Html.ActionLink("Remove", "Remove", new { id = item.Id }, new { @class = "fa fa-trush" })*@
            </td>
        </tr>
}
    </tbody>
</table>
